*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::selection {
  background-color: var(--white);
  color: var(--shadow-accent);
}
