:root {
  --size-xs: 0.5rem;
  --size-s: 1rem;
  --size-m: 3rem;
  --size-l: 5rem;
  --size-xl: 7rem;

  --gap-size-xs: 1rem;
  --gap-size-s: 1.5rem;
  --gap-size-m: 3rem;
  --gap-size-l: 4rem;

  --container-inline-padding: clamp(80px, 10%, 200px);
  --section-gap: var(--size-m);
  --card-gap: var(--size-s);

  --white: #f2f3f5;
  --muted-white: #9ba3b4;
  --dark-gray: rgb(22 22 22);
  --light-gray: rgb(33 33 33);
  --bright-gray: rgb(39 39 39);

  --color-bg: var(--dark-gray);
  --color-surface: var(--light-gray);
  --color-surface-light: var(--bright-gray);
  /*--color-accent: rgb(140, 52, 181);*/
  /*--color-secondary-accent: rgb(110, 31, 156);*/
  /*--shadow-accent: rgb(86, 18, 122);*/
  --color-accent: rgb(179 157 52);
  --color-secondary-accent: rgb(172 146 22);
  --shadow-accent: rgb(149 101 12);
  --shadow-medium: 0 4px 20px rgb(0 0 0 / 0.2);

  --color-text: var(--white);
  --color-text-muted: var(--muted-white);

  --border-surface-color: 2px solid var(--color-surface);
  --border-accent-color: 2px solid var(--color-accent);
  --border-white-color: 2px solid var(--white);

  --border-radius: 25px;
  --border-radius-rounded: 50%;
}
