:root {
  --size-xs: 0.5rem;
  --size-s: 1rem;
  --size-m: 3rem;
  --size-l: 5rem;
  --size-xl: 7rem;

  --gap-size-xs: 1rem;
  --gap-size-s: 1.5rem;
  --gap-size-m: 3rem;
  --gap-size-l: 4rem;

  --container-inline-padding: clamp(80px, 10%, 200px);
  --section-gap: var(--size-m);
  --card-gap: var(--size-s);

  --white: #f2f3f5;
  --muted-white: #9ba3b4;
  --dark-gray: rgb(22 22 22);
  --light-gray: rgb(33 33 33);
  --bright-gray: rgb(39 39 39);

  --color-bg: var(--dark-gray);
  --color-surface: var(--light-gray);
  --color-surface-light: var(--bright-gray);
  --color-accent: rgb(179 157 52);
  --color-secondary-accent: rgb(172 146 22);
  --color-contrast-accent: rgb(140 52 181);
  --color-contrast-secondary-accent: rgb(110 31 156);

  --shadow-accent: rgb(149 101 12);
  --shadow-contrast-accent: rgb(86 18 122);
  --shadow-medium: 0 4px 20px rgb(0 0 0 / 0.2);

  --color-text: var(--white);
  --color-text-muted: var(--muted-white);

  --font-main: 'Exo 2';
  --font-accent: 'Press Start 2P';
  --font-mono: 'JetBrains Mono';

  --font-main-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  --font-caption-size: clamp(0.7rem, 0.76rem + 0.2vw, 0.9rem);
  --font-h1-size: clamp(1.1rem, 0.9rem + 1vw, 2rem);
  --font-h2-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);

  --font-main-weight: normal;
  --font-bold-weight: bold;

  --border-surface-color: 2px solid var(--color-surface);
  --border-accent-color: 2px solid var(--color-accent);
  --border-contrast-accent-color: 2px solid var(--color-contrast-accent);
  --border-white-color: 2px solid var(--white);

  --border-radius: 25px;
  --border-radius-rounded: 50%;
}
